<!-- WHATSAPP -->
<div class="relative">
	<a
		href="https://api.whatsapp.com/send?phone=5511995994243&text=Ol%C3%A1!%20Vi%20seu%20site%20e%20gostaria%20de%20mais%20informa%C3%A7%C3%B5es."
		class="dd-m-whatsapp"
		target="_blank"
		><span class="icon"></span
	></a>
</div>
<!-- WHATSAPP -->
