{% include "menu.njk" %}
<!-- INICIO -->
<section
	id="inicio"
	class="w-full lg:h-screen h-auto flex items-center justify-center relative"
>
	<main class="flex lg:flex-row flex-col w-full h-full">
		<div class="basis-2/5 bg-[#00244E]">
			<main class="h-full flex items-center justify-center pb-20 pt-40">
				<img
					src="/images/logo-blue.png"
					width="230"
					height="100"
					alt="Logo Tuali"
				/>
			</main>
		</div>
		<div class="basis-3/5 background-quem-somos lg:px-24 py-32">
			<tuali-text
				class="h-full merriweather italic text-[#00638b] lg:text-7xl text-2xl font-medium flex justify-center items-center"
			>
				<main class="w-fit h-full flex items-start justify-center flex-col">
					<span>vamos juntos</span>
					<span>transformar</span>
					<span>o jeito de cuidar</span>
					<span>da sua equipe</span>
				</main>
			</tuali-text>
		</div>
	</main>
	{% include "scrollDown.njk" %}
</section>
<!-- QUEM SOMOS -->
<section
	id="quemsomos"
	class="w-full lg:h-screen h-auto bg-[#FBF8F2] py-28 px-6"
>
	<main class="w-full h-full flex lg:flex-row flex-col">
		<div class="lg:basis-2/5">
			<main class="w-full h-full flex items-center justify-center">
				<img
					src="/images/quem-somos.png"
					width="477"
					height="100"
					alt="Tuali"
				/>
			</main>
		</div>
		<div class="lg:basis-3/5">
			<main
				class="w-full h-full flex flex-col items-start justify-center gap-16"
			>
				<header class="w-full">
					<div class="w-full flex justify-center items-center gap-12">
						<span
							class="montserrat lg:text-4xl text-xl text-[#5CC0F4] font-bold"
							>oi, somos a</span
						>
						<img
							src="/images/logo-blue.png"
							width="248"
							height="100"
							class="lg:w-[248] w-[100px]"
							alt="Tuali"
						/>
					</div>
				</header>
				<footer class="w-full flex justify-center lg:text-start text-center">
					<tuali-text
						class="lg:text-lg text-sm text-[#00638b] block max-w-[570px] lg:ml-[78px]"
					>
						<div class="flex flex-col gap-12">
							<span
								>chegamos pra
								<span class="font-bold"
									>simplificar o que todo mundo complica</span
								>, cuidar dos seus colaboradores com inteligência, leveza e
								confiança. Nascemos da
								<span class="font-bold"
									>experiência de quem já viu muita coisa nesse mercado</span
								>
								e agora quer fazer <span class="font-bold">diferente</span>, com
								mais proximidade, mais compromisso e
								<span class="font-bold">menos enrolação</span>.</span
							>
							<span
								><span class="font-bold">nosso papo é direto com o RH</span>. A
								gente sabe o peso que é gerenciar planos, benefícios,
								operadoras, sinistros, reajustes, dúvidas... ufa. Por isso,
								nosso foco é aliviar essa carga e transformar o “problema do
								benefício” em vantagem competitiva.</span
							>
						</div>
					</tuali-text>
				</footer>
			</main>
		</div>
	</main>
</section>
<!-- TUALI -->
<section
	class="w-full lg:h-screen h-auto bg-[#00244E] tracking-[0.5px] py-40 px-6"
>
	<main
		class="w-full h-full flex lg:flex-row flex-col items-center justify-center gap-20"
	>
		<img src="/images/logo-blue.png" width="248" height="100" alt="Tuali" />
		<img src="/images/coracao.png" width="248" height="100" alt="Tuali" />
		<tuali-text class="flex flex-col lg:text-start text-center gap-2">
			<span class="font-bold text-4xl"
				>o que<br />
				entregamos</span
			>
			<span class="montserrat italic lg:text-xl"
				>temos um portfólio completo
				<br />
				pra sua empresa respirar aliviada</span
			>
		</tuali-text>
	</main>
</section>
<!-- SERVICOS -->
<section
	id="servicos"
	class="w-full lg:h-auto h-auto background-servicos leading-[16px] lg:py-40 py-20 px-4"
>
	<div
		class="h-full w-full flex lg:flex-row flex-col gap-20 justify-center items-center relative"
	>
		<aside class="lg:absolute static xl:top-[-48px] top-[-140px] left-[10px]">
			<img
				src="/images/logo-white.png"
				width="208"
				height="100"
				class="lg:w-[208px] w-[160px] lg:block hiddden"
				alt="Tuali"
			/>
		</aside>
		<main class="flex lg:flex-col flex-row lg:gap-24 gap-4">
			<section class="flex lg:flex-row flex-col gap-12">
				<tuali-card
					icon="/images/icons/empresarial.png"
					title="planos de saúde empresariais"
					text="a gente analisa, negocia, compara e acompanha. Do jeito certo, com quem entende."
				></tuali-card>
				<tuali-card
					icon="/images/icons/odontologicos.png"
					title="planos odontológicos"
					text="opções com rede ampla e boa cobertura. Sem surpresas."
				></tuali-card>
				<tuali-card
					icon="/images/icons/grupo.png"
					title="seguros de vida em grupo"
					text="proteção inteligente, com coberturas que fazem sentido de verdade."
				></tuali-card>
			</section>
			<section class="flex lg:flex-row flex-col gap-12">
				<tuali-card
					icon="/images/icons/corporativos.png"
					title="benefícios corporativos"
					text="vale alimentação, farmácia, incentivos... a gente monta conforme o perfil da empresa."
				></tuali-card>
				<tuali-card
					icon="/images/icons/consultoria.png"
					title="consultoria estratégica"
					text="diagnóstico, visão de mercado, recomendação prática. o RH ganha tempo e respaldo."
				></tuali-card>
				<tuali-card
					icon="/images/icons/diversos.png"
					title="seguros diversos"
					text="precisa de algo além da saúde? oferecemos soluções complementares que ampliam o cuidado."
				></tuali-card>
			</section>
		</main>
	</div>
</section>
<!-- DIFERENCIAIS -->
<section
	id="diferenciais"
	class="w-full h-auto bg-[#5CC0F4] text-[#00638B] roboto xl:px-16 px-4 py-12"
>
	<div class="flex flex-col justify-center items-center gap-16">
		<header class="flex items-center lg:gap-6 gap-4 lg:mr-[288px]">
			<span class="montserrat lg:text-5xl text-2xl font-bold">Por que a</span>
			<img
				src="/images/logo-white.png"
				width="208"
				height="100"
				class="lg:w-[208px] w-[100px]"
				alt="Tuali"
			/>
		</header>
		<main
			class="lg:text-4xl text-xl font-bold flex lg:flex-row flex-col items-center gap-8 lg:leading-[42px] leading-[24px]"
		>
			<div
				class="flex lg:flex-col flex-row w-full justify-between items-start lg:gap-28 gap-6"
			>
				<span>
					&nbsp;porque a gente<br />
					<span class="bg-[#B3D1E6]">&nbsp;entrega com&nbsp;</span><br />
					<span class="bg-[#B3D1E6]">&nbsp;compromisso&nbsp;</span>
				</span>
				<span>
					&nbsp;porque a gente<br />
					<span class="bg-[#B3D1E6]">&nbsp;faz parte&nbsp;</span> do<br />
					&nbsp;seu<span class="bg-[#B3D1E6]">&nbsp;time &nbsp;</span>
				</span>
			</div>
			<div
				class="flex w-full lg:flex-col flex-row items-center lg:gap-12 gap-6"
			>
				<div class="lg:w-1 lg:h-[180px] w-full h-0.5 bg-[#B3D1E6]"></div>
				<div class="lg:w-[120px] lg:h-1 w-1 h-[48px] bg-[#B3D1E6]"></div>
				<div class="lg:w-1 lg:h-[180px] w-full h-0.5 bg-[#B3D1E6]"></div>
			</div>
			<div
				class="flex lg:flex-col flex-row w-full justify-between items-start lg:gap-28 gap-6"
			>
				<span>
					porque a<br />
					<span class="bg-[#B3D1E6]">gente&nbsp;</span><br />
					<span class="bg-[#B3D1E6]">resolve&nbsp;</span>
				</span>
				<span>
					&nbsp;porque a gente<br />
					<span class="bg-[#B3D1E6]">&nbsp;fala fácil, sem&nbsp;</span><br />
					<span class="bg-[#B3D1E6]">&nbsp;enrolação&nbsp;</span>
				</span>
			</div>
			<div
				class="flex w-full lg:flex-col flex-row items-center lg:gap-12 gap-6"
			>
				<div class="lg:w-1 lg:h-[180px] w-full h-0.5 bg-[#B3D1E6]"></div>
				<div class="lg:w-[120px] lg:h-1 w-1 h-[48px] bg-[#B3D1E6]"></div>
				<div class="lg:w-1 lg:h-[180px] w-full h-0.5 bg-[#B3D1E6]"></div>
			</div>
			<div class="w-full flex items-center justify-center">
				<span class="xl:block hidden">
					&nbsp;e porque saúde<br />
					&nbsp;e benefícios<br />
					<span class="bg-[#B3D1E6]">&nbsp;precisam sair&nbsp;</span><br />
					&nbsp;do papel e<br />
					<span class="bg-[#B3D1E6]">&nbsp;fazer sentido&nbsp;&nbsp;</span
					><br />
					&nbsp;na
					<span class="bg-[#B3D1E6]"
						>&nbsp;vida real&nbsp;&nbsp;&nbsp;&nbsp;</span
					>
				</span>
				<span class="xl:hidden block">
					e porque saúde e benefícios
					<span class="bg-[#B3D1E6]">precisam sair</span>
					do papel e
					<span class="bg-[#B3D1E6]">fazer sentido na vida real</span>
				</span>
			</div>
		</main>
	</div>
</section>
<!-- COMO FAZEMOS-->
<section
	id="comofazemos"
	class="w-full lg:h-screen h-auto bg-[#00244E] roboto lg:px-16 px-4 py-16"
>
	<div
		class="w-full h-full flex lg:flex-row flex-col items-center justify-center lg:gap-40 gap-20"
	>
		<article class="relative flex flex-col gap-8">
			<aside class="lg:absolute static top-[-160px] left-[-140px]">
				<img
					src="/images/logo-white.png"
					width="208"
					height="100"
					class="lg:w-[208px] w-[100px]"
					alt="Tuali"
				/>
			</aside>
			<main class="lg:flex hidden flex-col gap-8">
				<span class="text-4xl">
					<p><span class="font-bold">Como</span> a</p>
					<p>gente <span class="font-bold">faz</span></p>
					<p class="font-bold">acontecer!</p>
				</span>
				<span class="text-lg">
					<p>nosso jeito de trabalhar é</p>
					<p>leve, claro e focado em</p>
					<p>resultado. Nada de</p>
					<p>processos engessados</p>
					<p>ou joguinho de empurra.</p>
				</span>
			</main>
			<mobile-main class="lg:hidden flex flex-col gap-4">
				<span class="text-4xl">
					<p><span class="font-bold">Como</span> a gente</p>
					<p span class="font-bold">faz acontecer!</p>
				</span>
				<span class="text-lg">
					<p>
						nosso jeito de trabalhar é leve, claro e focado em resultado. Nada
						de processos engessados ou joguinho de empurra.
					</p>
				</span>
			</mobile-main>
		</article>
		<main class="flex flex-col lg:gap-6 gap-8">
			<tuali-box
				number="1"
				title="entendemos você"
				text="fazemos um diagnóstico real do momento da empresa."
			></tuali-box>
			<tuali-box
				number="2"
				title="levantamos o que faz sentido"
				text="analisamos operadoras, benefícios e cenários possíveis"
			></tuali-box>
			<tuali-box
				number="3"
				title="montamos uma solução com propósito"
				text="cabe no bolso na entratégia e no dia a dia da empresa"
			></tuali-box>
			<tuali-box
				number="4"
				title="implantamos com cuidado"
				text="RH não fica sobrecarregado. A gente entra pra somar"
			></tuali-box>
			<tuali-box
				number="5"
				title="seguimos juntos"
				text="relacionamento ativo, suporte contínuo, atenção de verdade"
			></tuali-box>
		</main>
	</div>
</section>
<!-- COMPROMISSO -->
<section
	id="compromisso"
	class="w-full lg:h-screen h-auto background-compromisso lg:px-20 px-8 py-20 lora"
>
	<header class="lg:hidden flex justify-center">
		<img src="/images/logo-mask.png" width="248" height="100" class="w-full" alt="Tuali" />
	</header>
	<div class="w-full h-full lg:grid grid-cols-3 flex flex-col lg:pt-0 pt-20">
		<main
			class="w-full h-full flex flex-col justify-between items-center lg:gap-0 gap-16"
		>
			<div class="mr-auto">
				<tuali-compromisso
					title="implantação com carinho"
					text="A gente entra na casa do cliente com cuidado. Tudo bem explicado e bem feito."
				></tuali-compromisso>
			</div>
			<div class="ml-auto mb-[80px]">
				<tuali-compromisso
					title="negociação com peso"
					text="Nossa galera do placement senta com as operadoras pra buscar as melhores condições. Sem papo furado."
				></tuali-compromisso>
			</div>
		</main>
		<main class="w-full h-full flex flex-col justify-end items-center pb-16">
			<div class="ml-auto">
				<tuali-compromisso
					title="comunicação simples"
					text="Ajudamos o RH a comunicar tudo de forma clara pros colaboradores. Dá orgulho de repassar."
				></tuali-compromisso>
			</div>
		</main>
		<main
			class="w-full h-full flex flex-col justify-between items-center lg:gap-0 gap-16"
		>
			<div class="mr-auto">
				<tuali-compromisso
					title="operações que voam baixo"
					text="Inclusões, exclusões, movimentações. Tudo com velocidade e segurança pro RH."
				></tuali-compromisso>
			</div>
			<div class="ml-auto lg:mb-[200px]">
				<tuali-compromisso
					title="relacionamento que responde"
					text="Um time real, presente e pronto para resolver. Nada de fila de espera infinita."
				></tuali-compromisso>
			</div>
		</main>
	</div>
</section>
<!-- CONTATO -->
<section id="contato" class="w-full h-screen bg-[#00244E] montserrat">
	<main class="w-full h-full flex flex-col items-center justify-center gap-20">
		<header class="flex lg:flex-row flex-col items-center lg:gap-20 gap-8 mt-[10vh] relative">
			<aside class="lg:absolute static left-[-308px]">
				<img
					src="/images/logo-blue.png"
					width="230"
					height="100"
					alt="Logo Tuali"
				/>
			</aside>
			<span class="font-bold lg:text-4xl text-3xl">
				<p class="lora">A gente caminha</p>
				<p class="italic">Junto com você!</p>
			</span>
		</header>
		<footer class="flex flex-col lg:gap-4 gap-8">
			<div class="flex lg:flex-row flex-col items-center lg:gap-4 gap-2">
				<svg-whatsapp width="48" height="48" fill="#5CC0F4"></svg-whatsapp>
				<p class="lg:text-2xl text-lg">+55 11 93737 3032</p>
			</div>
			<div class="flex lg:flex-row flex-col items-center lg:gap-4 gap-2">
				<img src="/images/email.png" width="48" height="48" class="lg:w-[48px] w-[34px]" alt="Email Tuali" />
				<p class="lg:text-2xl text-lg">atendimento@tuali.com.br</p>
			</div>
		</footer>
	</main>
</section>
