<!-- INICIO -->
<section class="w-full h-screen">
	<main class="flex w-full h-full">
		<div class="basis-2/5 bg-[#00244E]">
			<main class="h-full flex items-center justify-center">
				<img
					src="/images/logo-blue.png"
					width="230"
					height="100"
					alt="Logo Tuali"
				/>
			</main>
		</div>
		<div class="basis-3/5 background-quem-somos px-24">
			<tuali-text
				class="merriweather italic text-[#00638b] text-7xl font-medium"
			>
				<main class="h-full flex items-start justify-center flex-col">
					<span>vamos juntos</span>
					<span>transformar</span>
					<span>o jeito de cuidar</span>
					<span>da sua equipe</span>
				</main>
			</tuali-text>
		</div>
	</main>
</section>
<!-- QUEM SOMOS -->
<section class="w-full h-screen bg-[#FBF8F2]">
	<main class="flex w-full h-full">
		<div class="basis-2/5">
			<main class="w-full h-full flex items-center justify-center">
				<img
					src="/images/quem-somos.png"
					width="477"
					height="100"
					alt="Tuali"
				/>
			</main>
		</div>
		<div class="basis-3/5">
			<main
				class="w-full h-full flex flex-col items-start justify-center gap-16"
			>
				<header>
					<div class="flex items-center gap-12">
						<span class="montserrat text-4xl text-[#5CC0F4] font-bold"
							>oi, somos a</span
						>
						<img
							src="/images/logo-blue.png"
							width="248"
							height="100"
							alt="Tuali"
						/>
					</div>
				</header>
				<footer>
					<tuali-text
						class="text-lg text-[#00638b] block max-w-[570px] ml-[78px]"
					>
						<div class="flex flex-col gap-12">
							<span
								>chegamos pra
								<span class="font-bold"
									>simplificar o que todo mundo complica</span
								>, cuidar dos seus colaboradores com inteligência, leveza e
								confiança. Nascemos da
								<span class="font-bold"
									>experiência de quem já viu muita coisa nesse mercado</span
								>
								e agora quer fazer <span class="font-bold">diferente</span>, com
								mais proximidade, mais compromisso e
								<span class="font-bold">menos enrolação</span>.</span
							>
							<span
								><span class="font-bold">nosso papo é direto com o RH</span>. A
								gente sabe o peso que é gerenciar planos, benefícios,
								operadoras, sinistros, reajustes, dúvidas... ufa. Por isso,
								nosso foco é aliviar essa carga e transformar o “problema do
								benefício” em vantagem competitiva.</span
							>
						</div>
					</tuali-text>
				</footer>
			</main>
		</div>
	</main>
</section>
<section class="w-full h-screen bg-[#00244E] tracking-[0.5px]">
	<main class="w-full h-full flex items-center justify-center gap-20">
		<img src="/images/logo-blue.png" width="248" height="100" alt="Tuali" />
		<img src="/images/coracao.png" width="248" height="100" alt="Tuali" />
		<tuali-text class="flex flex-col gap-2">
			<span class="font-bold text-4xl"
				>o que<br />
				entregamos</span
			>
			<span class="montserrat italic text-xl"
				>temos um portfólio completo
				<br />
				pra sua empresa respirar aliviada</span
			>
		</tuali-text>
	</main>
</section>
