<!DOCTYPE html>
<html amp lang="pt-br">
	<head>
		{% include "seo.njk" %}
		<script type="application/ld+json">
			{
				"@context": "http://schema.org",
				"@type": "WebSite",
				"name": "Tuali",
				"url": "https://tuali.com.br",
				"description": "Somos especialistas em planos de saúde empresariais, odontológicos, seguros e benefícios corporativos. Cuidamos dos seus colaboradores com inteligência, leveza e compromisso — direto com o RH, sem enrolação.",
				"inLanguage": "pt-BR"
			}
		</script>
		<link
			rel="stylesheet"
			type="text/css"
			href="/css/styles.css"
			media="screen"
		/>
		<script src="https://cdn.tailwindcss.com"></script>
		<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
	</head>

	<body>
		<div id="app">
			{{ content | safe }}
			{% include "footer.njk" %}
		</div>
		<!-- Carregue o JS após o HTML -->
		{% include "vue.njk" %}
		<script defer src="/js/scripts.js"></script>
	</body>
</html>
