<header class="w-full fixed top-[20px] right-[20px] z-10 roboto text-[#00244E]">
	<details class="ml-auto w-fit">
		<summary class="cursor-pointer flex hover:bg-white/85 bg-white/40 p-2 list-none">
			<span class="text-4xl font-bold ml-auto">☰</span>
		</summary>

		<nav class="w-fit bg-white/85">
			<ul class="w-fit flex flex-col p-4 space-y-2 shadow">
				<li><a href="#inicio">Início</a></li>
				<li><a href="#quemsomos">Quem somos</a></li>
				<li><a href="#servicos">Serviços</a></li>
				<li><a href="#diferenciais">Diferenciais</a></li>
				<li><a href="#comofazemos">Como fazemos</a></li>
				<li><a href="#compromisso" onclick="scrollToId(event, 'compromisso')">Compromisso</a></li>
				<li><a href="#contato" onclick="scrollToId(event, 'contato')">Contato</a></li>
			</ul>
		</nav>
	</details>
</header>
