{% raw %}
<script>
	const app = Vue.createApp({})

	app.component('tuali-card', {
		props: {
			icon: String,
			title: String,
			text: String
		},
		template: `
	    <div class="max-w-[228px] lg:h-auto h-[208px] flex items-center bg-white rounded-2xl text-black lg:px-5 px-3 lg:py-7 py-5 relative">
	      <main class="flex flex-col lg:gap-6 gap-2">
	        <header class="absolute top-[-28px] left-1/2 transform -translate-x-1/2">
	          <img :src="icon" width="68" height="50" class="lg:max-h-[600px] max-h-[59px]" alt="Tuali" />
	        </header>
	        <span class="font-bold xl:text-xl text-sm leading-[24px] lg:mt-12 mt-6 montserrat">{{ title }}</span>
	        <div class="w-full h-1 bg-[#5CC0F4]"></div>
	        <span class="mt-2 xl:text-base text-xs">{{ text }}</span>
	      </main>
	    </div>
	  `
	})

	app.component('tuali-box', {
		props: {
			number: String,
			title: String,
			text: String
		},
		template: `
	    <div class="flex lg:flex-row flex-col items-center gap-6">
				<div class="w-full flex items-center justify-start gap-6">
					<aside class="bg-[#F2E35B] w-fit px-4 py-1 rounded-full">
						<span class="text-[#00244E] text-5xl font-bold">{{ number }}</span>
					</aside>
					<div class="max-w-[178px] w-fit">
						<span class="text-2xl font-bold">{{ title }}</span>
					</div>
				</div>
				<article class="bg-[#F2E35B] w-fit lg:max-w-[248px] px-6 py-4 rounded-2xl">
					<span class="text-sm text-[#00244E]"
						>{{ text }}</span
					>
				</article>
			</div>
	  `
	})

	app.component('tuali-compromisso', {
		props: {
			title: String,
			text: String
		},
		template: `
			<article class="w-fit max-w-[340px] max-h-[100px] flex flex-col items-center">
				<header
					class="bg-[#00638B] pb-1.5 px-4 rounded-tr-lg rounded-tl-lg max-w-[280px]"
				>
					<span class="text-center text-lg font-bold roboto">{{ title }}</span>
				</header>
				<footer class="bg-[#FFD8CA] px-6 py-3 rounded-lg lg: lg:max-w-full max-w-[280px]">
					<span class="text-black lg:text-base text-xs">
						{{ text }}
					</span>
				</footer>
			</article>
	  `
	})

	app.component('svg-whatsapp', {
		props: {
			fill: {
				type: String,
				default: '#5CC0F4'
			},
			width: {
				type: [String, Number],
				default: '48'
			},
			height: {
				type: [String, Number],
				default: '48'
			}
		},
		template: `
			<svg
				xmlns="http://www.w3.org/2000/svg"
				viewBox="0 0 231 231"
				:fill="fill"
				:width="width"
				:height="height"
				class="lg:w-[48px] w-[34px]"
			>
				<g>
					<path
						d="M117.9,53c-33.7,0-61.1,27.4-61.1,61.1c0,11.8,3.4,23.2,9.7,33.1l1.5,2.3l-5.9,21.2l22.4-5.3l2.1,1.3
							c9.4,5.6,20.3,8.6,31.3,8.6c33.7,0,61.1-27.4,61.1-61.1S151.6,53,117.9,53z
							M152.7,140.4c-0.6,3-7,6.8-11.1,7.9
							c-10.2,2.7-24.6-5.1-38.8-17.5c-14.3-12.4-23.9-25.6-22.7-36.1c0.5-4.2,3.5-11.1,6.3-12
							c2.8-0.9,4.8,0,7.7,0.9
							c1.4,1.6,3.2,3.5,5.2,5.8c2.7,3,4.5,5.7,5.6,7.6c0.9,1.6,0.6,3.6-0.8,4.8l-4.9,4.4
							c-0.9,0.8-1.2,2.1-0.7,3.2
							c1.5,3.2,5,9.8,10.3,14.4c5.2,4.6,12.3,7.2,15.7,8.2c1.1,0.4,2.4-0.1,3-1.1l3.7-5.4
							c1-1.5,3-2.1,4.7-1.4
							c2,0.9,5,2.3,8.3,4.5c2.5,1.7,4.7,3.2,6.4,4.4C152.1,135.7,153.3,137.6,152.7,140.4z"
					/>
					<path
						d="M115.5,0C51.7,0,0,51.7,0,115.5
							c0,63.8,51.7,115.5,115.5,115.5
							c63.8,0,115.5-51.7,115.5-115.5
							C230.9,51.7,179.2,0,115.5,0z
							M117.9,187.2c-12.4,0-24.5-3.1-35.3-9.1
							l-37.5,8.9l9.9-35.7
							c-6.7-11.3-10.2-24.1-10.2-37.3
							c0-40.3,32.8-73.1,73.1-73.1
							S191,73.8,191,114.1
							C191,154.4,158.2,187.2,117.9,187.2z"
					/>
				</g>
			</svg>
		`
	})

	app.mount('#app')
</script>
{% endraw %}
